        $bgc-color: #fff;
        @mixin site-title {
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 80px;
            text-transform: capitalize;
            color: #000000;
            background-color: #fff;
        }
        
        @mixin cards-title {
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px;
            text-align: left;
            background: #F5F5F5;
        }
        
        @mixin cards-text {
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            text-align: left;
            color: #8F95A5;
        }
        
        * {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            font-family: 'poppins';
            background: #E5E5E5;
        }
        
        .container {
            width: 1600px;
            margin: 0 auto;
            padding: 15px 130px;
            border: 1px solid #000;
        }
        
        .site-background-color {
            background-color: $bgc-color;
        }
        
        .site-header {
            z-index: 1;
            position: sticky;
            top: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            background-color: #fff;
        }
        
        .site-logo {
            display: block;
            &__img {
                height: 54px;
                width: 156px;
                background-color: $bgc-color;
            }
        }
        
        .site-nav {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            &__list {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                background-color: $bgc-color;
            }
            &__item {
                margin: 0 30px;
                text-decoration: none;
                list-style: none;
                background-color: $bgc-color;
            }
            &__link {
                text-decoration: none;
                text-transform: capitalize;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: left;
                color: #263238;
                background-color: $bgc-color;
            }
        }
        
        .site-call {
            text-decoration: none;
            padding: 10px 40px;
            text-transform: capitalize;
            font-size: 20px;
            font-style: normal;
            text-align: left;
            border: 2px solid #263238;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border-radius: 5px;
            color: #000000;
        }
        
        .site-hero {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            background-color: $bgc-color;
            &__title {
                @include site-title;
                font-size: 64px;
                text-align: left;
            }
            &__text {
                @include cards-text;
                font-size: 24px;
                width: 78%;
                background-color: $bgc-color;
            }
            &__button {
                display: inline-block;
                text-decoration: none;
                padding: 30px 90px;
                background-color: #263238;
                color: #fff;
                border-radius: 15px;
            }
            &__icon {
                position: absolute;
                top: 150px;
                right: 100px;
                background-color: $bgc-color;
            }
            &__img {
                width: 48%;
                background-color: $bgc-color;
            }
        }
        
        .site-skills {
            margin: 40px auto;
            background-color: $bgc-color;
            &__title {
                @include site-title;
                margin: 100px auto;
                text-align: center;
            }
        }
        
        .skills-cards {
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: 32% 2% 32% 2% 32%;
            grid-template-columns: 32% 32% 32%;
            gap: 2%;
            background-color: $bgc-color;
            &__speaking {
                position: relative;
                text-align: center;
                grid-row-start: 1;
                -ms-grid-row-span: 2;
                grid-row-end: 3;
                height: 894px;
                width: 435px;
                border-radius: 10px;
                background: #F5F5F5;
            }
            &__writing {
                position: relative;
                text-align: center;
                height: 531px;
                width: 434px;
                border-radius: 10px;
                background: #F5F5F5;
            }
            &__reading {
                position: relative;
                text-align: center;
                height: 531px;
                width: 434px;
                border-radius: 10px;
                background: #F5F5F5;
            }
            &__listening {
                position: relative;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                grid-column-start: 2;
                -ms-grid-column-span: 2;
                grid-column-end: 4;
                height: 343px;
                width: 885px;
                border-radius: 10px;
                background: #F5F5F5;
            }
            &__img {
                background: #F5F5F5;
            }
            &__title {
                @include cards-title;
            }
            &__text {
                @include cards-text;
                width: 90%;
                background: #F5F5F5;
            }
            .cards-button {
                position: absolute;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                height: 60px;
                width: 218px;
                bottom: 30px;
                margin-top: 50px;
                text-decoration: none;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                border-radius: 5px;
                background: #263238;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                color: #FFFFFF;
            }
            &__date {
                margin-left: 20px;
                background: #F5F5F5;
            }
        }
        
        .site-about_us {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin: 100px auto;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            background-color: $bgc-color;
            .about_us {
                &-date {
                    width: 50%;
                    background-color: $bgc-color;
                }
                &__text {
                    @include site-text;
                    background-color: $bgc-color;
                }
                &-statistics {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    text-align: center;
                    background-color: $bgc-color;
                }
                &-date__item {
                    background-color: $bgc-color;
                    .about_us-date {
                        &__number {
                            @include site-text;
                            color: #2A3246;
                            background-color: $bgc-color;
                        }
                        &__text {
                            @include site-text;
                            background-color: $bgc-color;
                        }
                    }
                }
            }
            &__title {
                @include site-title;
                text-align: left;
            }
            &__img {
                background-color: $bgc-color;
            }
        }
        
        .site-pricing {
            margin: 50px auto;
            background-color: $bgc-color;
            &__title {
                @include site-title;
                text-align: center;
            }
            &__cards {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                background-color: $bgc-color;
            }
        }
        
        .pricing-card {
            width: 30%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            background-color: $bgc-color;
            &__img {
                width: 350px;
                height: 350px;
                background-color: $bgc-color;
            }
            &__date {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-pack: distribute;
                justify-content: space-around;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;
                height: 300px;
                background-color: $bgc-color;
            }
            &__text {
                @include site-text;
                background-color: $bgc-color;
            }
            &__title {
                @include cards-title;
                color: #263238;
                background-color: $bgc-color;
            }
            &__button {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -ms-flex-pack: distribute;
                justify-content: space-around;
                width: 240px;
                height: 45px;
                left: 130px;
                top: 3624px;
                background: #EEEEEE;
                border-radius: 5px;
                text-decoration: none;
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 45px;
                color: #263238;
            }
            &__mony {
                background: #EEEEEE;
            }
        }
        
        .button-text {
            @include site-text;
            color: #546269;
            background: #EEEEEE;
        }
        
        .site-contact_us {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin: 200px auto;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            background-color: $bgc-color;
            &__img {
                background-color: $bgc-color;
            }
            &__date {
                width: 60%;
                background-color: $bgc-color;
            }
            &__title {
                @include site-title;
                text-align: left;
            }
            .site-contact_us__text {
                @include site-text;
                background-color: $bgc-color;
            }
            &__input {
                background-color: $bgc-color;
                &-mail {
                    width: 450px;
                    height: 80px;
                    padding-left: 30px;
                    border: 1px solid #8F95A5;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    border-radius: 10px;
                    background-color: $bgc-color;
                    &-button {
                        width: 264px;
                        height: 80px;
                        margin-left: 12px;
                        background: #263238;
                        border-radius: 10px;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 30px;
                        color: #FFFFFF;
                    }
                }
            }
        }
        
        .site-bootom-line {
            position: relative;
            bottom: 0;
            width: 1340px;
            background-color: $bgc-color;
        }
        
        .site-footer {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding: 50px auto;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            background-color: $bgc-color;
            &__logo {
                display: block;
                background-color: $bgc-color;
            }
            &__link--list {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                background-color: $bgc-color;
            }
        }
        
        .footer {
            &-list__item {
                margin-left: 30px;
                list-style-type: disc;
                background-color: $bgc-color;
            }
            &-list__link {
                @include site-text;
                background-color: $bgc-color;
            }
        }
        
        .footer {
            background-color: red;
        }
        
        @media (max-width) {
            .site-logo {
                display: block;
                &__img {
                    height: 54px;
                    width: 156px;
                    background-color: $bgc-color;
                }
            }
        }